@use './variables'; 

@mixin position( $position, $top, $left, $right, $bottom, $width, $height){
    position: $position; 
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    width: $width;
    height: $height;
}

@mixin align($flex, $justifyContent, $alignItems, $height){
    display: $flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    height: $height;
}

@mixin button($color1, $color2,$textColor,  $height, $fontSize, $bdr, $paddingVertical, $paddingHorizontal){
    background: linear-gradient(to right,$color1, $color2);
    color: $textColor;
    height: $height;
    line-height: 4.5rem;
    display: inline-block;
    font-size: $fontSize;
    font-weight: 400;
    border-radius: $bdr;
    padding: $paddingVertical $paddingHorizontal;
    border: none;
    outline: none;
cursor: pointer;
text-transform: uppercase;
}

@mixin animation($name, $transition, $duree, $translate1, $translate2 ){
    animation: $name $transition $duree;
    @keyframes #{$name} {
        0% {
            opacity: 0;
            transform: translateY($translate1);

        }
        100% {
            opacity: 1;
            transform: translateY($translate2);
        }
    }
}

@mixin toggleSpans($disp, $bg, $wd, $hg) {
    display: $disp;
    background: $bg;
    width: $wd;
    height: $hg;
    transition: all .3s linear;
}